<nav>
	<div class="linear-blur">
		<div class="background-layer">
			<div class="blur-layer blur-64"></div>
			<div class="blur-layer blur-32"></div>
			<div class="blur-layer blur-16"></div>
			<div class="blur-layer blur-8"></div>
			<div class="blur-layer blur-4"></div>
			<div class="blur-layer blur-2"></div>
			<div class="blur-layer blur-0-5"></div>
		</div>
	</div>

	<div class="nav-inner">
		<a href="/">
			<img src="../../assets/nav-logo.webp">
		</a>
		<div>
			<a href="#" id="linkanimation" class="text">Home</a>
			<a href="#" id="linkanimation" class="text">Events</a>
			<a href="#" id="linkanimation" class="text">Our Team</a>
			<a href="#" id="linkanimation" class="text">Blog</a>
			<a class="button-85" href="#" >APPLY NOW</a>
		</div>
	</div>
</nav>
