<div class="container">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500;700&display=swap" rel="stylesheet">





    <div class="container">
        <div class="content-parent">
            <div class="content">
                <div class="blob" #blob></div>
                <div class="content">
                    <h1>ALEXA <br> DEVELOPERS</h1>
                    <img src="/hero-logo.svg" class="logo">
                </div>
            </div>
        </div>
    </div>
    
</div>

